<?xml version="1.0"?>
<configuration>

    <appSettings />
    <connectionStrings>
        <add name="MainConnStr" connectionString="server=sqlcluster1.cityu.edu.hk;uid=projectflame;pwd=pfadministrator;database=projectflame;" />
        <add name="VbConnStr" connectionString="driver={SQL Server};server=sqlcluster1.cityu.edu.hk;uid=projectflame;pwd=pfadministrator;database=projectflame;Auto Translate=False;" />
    </connectionStrings>
    <system.web>
      
        <compilation debug="true">

        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms">
          <forms loginUrl="admin/Login.aspx" timeout="30" defaultUrl="~/admin/edit.aspx" cookieless="AutoDetect">
            <credentials passwordFormat="Clear">
              <user name="admin" password="pfadministrator"/>
            </credentials>
          </forms>
        </authentication>
      <customErrors mode="Off"/>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      <pages>
        <controls>
          <add tagPrefix="cms" src="~/Controls/GetContent.ascx" tagName="GetContent"/>
        </controls>
      </pages>
    </system.web>
    <location path="admin">
      <system.web>
        <authorization>
          <deny users="?"/>
        </authorization>
      </system.web>
    </location>
</configuration>
